doctype html
html(lang='en')
  head
    meta(http-equiv='Content-Type', content='text/html; charset=UTF-8')
    meta(charset='utf-8')
    meta(http-equiv='X-UA-Compatible', content='IE=10; IE=9; IE=8; IE=EDGE')
    title #{__('Get a Smoke Alarm')}
    meta(name='description', content='Get a Smoke Alarm from the Red Cross.')
    meta#id_og_type(property='og:type', content='website')
    meta#id_og_title(property='og:title', content='Get a Smoke Alarm')
    meta#id_og_description(property='og:description', content='Get a Smoke Alarm from the Red Cross.')
    meta#id_fb_app_id(property='fb:app_id', content='64368537493')
    meta#id_og_site_name(property='og:site_name', content='American Red Cross')
    meta#id_og_image(property='og:image', content='http://www.redcross.org/images/MEDIA_CustomProductCatalog/m48040100_ButtonLogo200.jpg')
    meta#id_og_url(property='og:url', content='http://www.redcross.org/il/chicago')
    meta(name='author', content=' ')
    meta(name='keywords', content='smoke alarm, smoke detector, red cross ')
    meta(name='robots', content='')
    meta(name='viewport', content='width=device-width, initial-scale=1.0')
    link(rel='shortcut icon', href='/favicon.ico')
    // Bootstrap
    link(rel='stylesheet', type='text/css', href='/third-party/bootstrap.min.css')
    script(type='text/javascript', src='/third-party/jquery.min.js')
    script(type='text/javascript', src='/third-party/bootstrap.min.js')

    // Drywall config
    script(src='/layouts/core.min.js?#{cacheBreaker}')

    // jQuery validate
    script(type='text/javascript', src='/third-party/jquery.validationEngine-en.js')
    script(type="text/javascript").
      $.validationEngineLanguage.allRules["phone-10-digit-US"] = {
        "regex": /^ *(\+?1-?)?(\([2-9]([02-9]\d|1[02-9])\)|[2-9]([02-9]\d|1[02-9]))(-| +)?[2-9]([02-9]\d|1[02-9])(-| +)?\d{4} *$/,
        "alertText": "* Invalid phone number" // AFAICT this err msg will never be seen; yet this key must have a value for stuff to work.
      }
    script(type='text/javascript', src='/third-party/jquery.validationEngine.js')
    link(rel='stylesheet', type='text/css', href='/third-party/validationEngine.jquery.css')

    // Local stylesheets

    // The DCSOps stylesheet messes up how bootstrap columns behave when collaped
    // link(rel='stylesheet', type='text/css', href='./smokeAlarmPortal_files/DCSOps.css')
    link(rel='stylesheet', type='text/css', href='./smokeAlarmPortal_files/base.css')

    noscript
      | <div id="javaScriptError" style="text-align:center; padding-top:130px;"> <font color="FF0000"> <img src="/images/icon/warning.png" width="20" height="23" alt="" /> <strong> #{__('Javascript is disabled in your browser. In order to use the site correctly, please enable javascript.')}</strong> </font> </div>
  body
    img.bg(src='./images/bw/install_fade_red.png')
    .bg-screen
    block content
