extends layout

block content
  #container.container-fluid
    .row
      .col-sm-12
        h1 #{__('American Red Cross')}
    #main.row
      #left.col-sm-10
        if county
          p
            | #{__('Sorry, the Red Cross Region serving %s County, %s does not utilize this website to accept smoke alarm installation requests.', county, state)} #{__('Please call 800-REDCROSS (800-733-2767) to be connected to your servicing Region.')} #{__('Thank you for contacting the Red Cross.')}
        else
          p
            | #{__('Sorry, we don\'t recognize any U.S. location for Zip Code "%s".  Are you sure you entered an accurate Zip Code?', zip)}

        p
          a(href="http://www.redcross.org/prepare/location/home-family/prevent-home-fires" target="_blank") #{__('Visit the Red Cross')}
          | #{__(' to learn how to prepare for and prevent home fires.')} 