extends layout


block content
  // Local stylesheets and js
  // only refresh if the request came from the kiosk route
  if origin == '/kiosk'
    script(type='text/javascript', src='/js/refresh.js')

  #container.container-fluid
    .row
      .col-sm-12
        h1 #{__('ARC')}
    #main.row
      #left.col-sm-10
        if county
          p
            | #{__('Out_of_region', county, state)}
        else
          p
            | #{__('Invalid_zip', zip)}

        p
          a(href="http://www.redcross.org/prepare/location/home-family/prevent-home-fires" target="_blank") #{__('Visit_ARC')}
          | #{__('Prepare_prevent')}

        if origin == '/kiosk'
          p.redirect
            | Returning to the 
            a(href="/kiosk") home page
            |  in 
            span.countdown
              | 
            |  
            | seconds.
  