extends layout

block content
  #container
    .row
      .col-sm-12
        h1 #{__('American Red Cross')}
        if county
          p
            | #{__('Sorry, the Red Cross Region serving %s County, %s does not yet offer smoke alarm installation service.', county, state)} #{__('However, we will remember your request and contact you when smoke alarm installation service is available in your region.')} #{__('Thank you for contacting the Red Cross.')}
        else
          p
            | #{__('Sorry, we don\'t recognize any U.S. location for Zip Code "%s".  Are you sure you entered an accurate Zip Code?', zip)}
