extends layout

block content
  // Local stylesheets and js
  // only refresh if the request came from the kiosk route
  if origin == '/kiosk'
    script(type='text/javascript', src='/js/refresh.js')

  #container.container-fluid
    .row
      .col-sm-12
        h1 #{__('American Red Cross')}
    #main.row
      #left.col-sm-10
        p
          | #{__('Thank you for your smoke alarm installation request.')} #{__('If you need to contact the Red Cross about this request, use ID number %s.', id)} #{__('Your information has been sent to the Red Cross representative for %s.', region)} #{__('A representative will contact you with information on installation availability in your area.  Please allow two to four weeks for a response.')}
        p
          a(href="http://www.redcross.org/prepare/location/home-family/prevent-home-fires" target="_blank") #{__('Visit the Red Cross')}
          | #{__(' to learn how to prepare for and prevent home fires.')}

        if origin == '/kiosk'
          p.redirect
            | Returning to the 
            a(href="/kiosk") home page
            |  in 
            span.countdown
              | 
            |  
            | seconds.