extends ../../../layouts/admin

block head
  title Smoke Alarm Installation Requests

block neck
  link(rel='stylesheet', href='/views/admin/requests/index.min.css')

block feet
  script(type='text/javascript' src='/third-party/jquery.min.js')
  script(type='text/javascript' src='/third-party/jquery-ui-1.11.4.custom/jquery-ui.min.js')
  link(rel='stylesheet', href='/third-party/datepicker.css')
  link(rel='stylesheet', href='/third-party/jquery-ui-1.11.4.custom/jquery-ui.min.css')
  script(src='/views/admin/requests/index.js')
    
block body
  div.row
    div.col-xs-12
      div#header
      div#filters
      div#results-table
      div#results-paging

  script(type='text/template', id='tmpl-header')
    div.page-header
      h1 Smoke Alarm Installation Requests

  script(type='text/template', id='tmpl-filters')
    form.filters
      div.row
        div.col-sm-3
          label Search By Name
          input.form-control(name='search', type='text')
        div.col-sm-3
          label Sort By
          select.form-control(name='sort')
            option(value='name') name &#9650;
            option(value='-name') name &#9660;
            option(value='createdAt') date created &#9650;
            option(value='-createdAt', selected='selected') date created &#9660;
        div.col-sm-3
          label Results Per Page
          select.form-control(name='limit')
            option(value='10') 10 items
            option(value='20', selected='selected') 20 items
            option(value='50') 50 items
            option(value='100') 100 items
            option(value='500') 500 items
        div.col-sm-3
          input#exportCSV(type='button', value='CSV Export')
      div.row
        div.col-sm-3
          label Start Date
          .datepickerWrapper
            input.form-control(name='startDate', type='hidden').datepickerTrigger
            .pickedDate
        div.col-sm-3
          label End Date
          .datepickerWrapper
            input.form-control(name='endDate', type='hidden').datepickerTrigger
            .pickedDate
        div.col-sm-3
          label Status
          select.form-control(name='status')
               option(value='all')
               option(value='new') new 
               option(value='inprogress') in-progress
               option(value='installed') installed
               option(value='canceled') canceled
        div.col-sm-3
          label Region
          br
          .allowed_region
                each item in data.usable_regions
                     input(type="checkbox" name="region[]" value="#{item.rc_region}")
                     | &nbsp #{item.region_name}
                     br
          br
          if (data.non_region.disabled === true)
             .disabled_region
                input(type="checkbox" name="region[]" value="XXXX" disabled)
                | &nbsp No Region Found
          else
             .allowed_region
                input(type="checkbox" name="region[]" value="XXXX")
                | &nbsp No Region Found

          label
          .disabled_region 
               each item in data.disabled_regions
                   input(type="checkbox" disabled="true" name="region[]" value="#{item}")
                   | &nbsp #{item}
                   br
      div.row
        div.col-sm-12
          input#applyFilters(type='button', value='apply filters')
          input#clearFilters(type='button', value='clear filters')

  script(type='text/template', id='tmpl-results-table')
    input(type="hidden" name="_csrf" id="csrf_token" value="#{csrfToken}")
    table.table.table-striped#request_results
      thead
        tr
          th status
          th id
          th name
          th address
          th city
          th state
          th zip
          th phone
          th email
          th date created 
          th region
          th origin
      tbody#results-rows

  script(type='text/template', id='tmpl-results-row')
    td.nowrap &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp  &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp
        select.form-control.status_updater(name='status')
               option(value=null)
               option(value='new') new 
               option(value='inprogress') in-progress
               option(value='installed') installed
               option(value='canceled') canceled
    td <%- serial %>
    td <%- name %>
    td <%- address %>
    td <%- city %>
    td <%- state %>
    td <%- zip %>
    td <%- phone %>
    td <%- email %>
    td <%- moment(createdAt).format("YYYY-MM-DD HH:mm") %>
    td <%- assigned_rc_region %>
    td <%- source %>
      div
      div

  script(type='text/template', id='tmpl-results-empty-row')
    tr
      td(colspan='4') no documents matched

  script(type='text/template', id='tmpl-results-paging')
    div.well
      div.btn-group.pull-left
        button.btn.btn-default(disabled=true) Page <%= pages.current %> of <%= pages.total %>
        button.btn.btn-default(disabled=true) Rows <%= items.begin %> - <%= items.end %> of <%= items.total %>
      div.btn-group.pull-right
        button.btn.btn-default.btn-page.btn-prev(data-page!='<%= pages.prev %>') Prev
        button.btn.btn-default.btn-page.btn-next(data-page!='<%= pages.next %>')  Next
      div.clearfix

  script(type='text/template', id='data-results') !{data.results}

