extends ../../../layouts/admin

block head
  title Smoke Alarm Installation Requests

block neck
  link(rel='stylesheet', href='/views/admin/requests/index.min.css?#{cacheBreaker}')

block feet
  script(src='/views/admin/requests/index.min.js?#{cacheBreaker}')

block body
  div.row
    div.col-xs-12
      div#header
      div#filters
      div#results-table
      div#results-paging

  script(type='text/template', id='tmpl-header')
    div.page-header
      h1 Smoke Alarm Installation Requests

  script(type='text/template', id='tmpl-filters')
    form.filters
      div.row
        div.col-sm-3
          label Search By Name
          input.form-control(name='search', type='text')
        div.col-sm-3
          label Sort By
          select.form-control(name='sort')
            option(value='id') id &#9650;
            option(value='-id') id &#9660;
            option(value='name') name &#9650;
            option(value='-name') name &#9660;
            option(value='createdAt') date created &#9650;
            option(value='-createdAt') date created &#9660;
        div.col-sm-3
          label Limit
          select.form-control(name='limit')
            option(value='10') 10 items
            option(value='20', selected='selected') 20 items
            option(value='50') 50 items
            option(value='100') 100 items
            option(value='500') 500 items
      div.row
        div.col-sm-3
          label Start Date
          input.form-control(name='startDate', type='text')
        div.col-sm-3
          label End Date
          input.form-control(name='endDate', type='text')
        div.col-sm-3
          label Region
          select.form-control(name='region')
            //- TODO: Ideally, these choices would be derived from a
            //-       config file, instead of hard-coded here.
            option(value="") All Regions
            //- TODO: The value attributes below sometimes say "and"
            //-       where the original was "&".  The problem is
            //-       that "&" is turned into "&amp;" when it
            //-       appears as the right side of an attribute,
            //-       thus making the dropdown behave weirdly when
            //-       that region is chosen (see issue #92).  From
            //-       looking at these tickets on the interwebs...
            //-       
            //-         https://github.com/jadejs/jade/issues/198
            //-         https://github.com/jadejs/jade/issues/1087
            //-       
            //-       ...it seems that if we were interpolating the
            //-       attribute values then we might be able to use
            //-       mustache-style escapers ("<% ... %>"), but as
            //-       we're not interpolating here, I'm not sure what
            //-       to do.  For the moment, I've just replaced all
            //-       the "&" with "and" in the attributes.  One way
            //-       to solve the problem would be to have canonical
            //-       identifiers for Red Cross Regions -- identifiers
            //-       that, you know, look like identifiers, with no
            //-       spaces in them, only letters and hyphens and such,
            //-       e.g., "central-and-southern-illinois".  We could
            //-       define those in the same config file where we
            //-       define regions, ../../../config/recipients.json.
            option(value="rc_southern_illinois") Central & Southern Illinois
            option(value="rc_chicago_northern_illinois") Chicago & Northern Illinois
            option(value="rc_dakotas") Dakotas
            option(value="rc_eastern_missouri") Eastern Missouri
            option(value="rc_iowa") Iowa
            option(value="rc_idaho_montana") Idaho/Montana
            option(value="rc_kansas_nebraska_sw_iowa") Kansas, Nebraska & SW Iowa
            option(value="rc_minnesota") Minnesota
            option(value="rc_western_missouri") Western Missouri
            option(value="rc_wisconsin") Wisconsin

  script(type='text/template', id='tmpl-results-table')
    table.table.table-striped
      thead
        tr
          th
          th id
          th name
          th address
          th city
          th state
          th zip
          th phone
          th email
          th date created 
          th region
      tbody#results-rows

  script(type='text/template', id='tmpl-results-row')
    td
    td.nowrap <%- id %>
    td.nowrap <%- name %>
    td.nowrap <%- address %>
    td.nowrap <%- city %>
    td.nowrap <%- state %>
    td.nowrap <%- zip %>
    td.nowrap <%- phone %>
    td.nowrap <%- email %>
    td.nowrap <%- moment(createdAt).format("YYYY-MM-DD HH:mm") %>
    td.nowrap <%- (SelectedCounty) ? rc_region : '' %>
      div
      div

  script(type='text/template', id='tmpl-results-empty-row')
    tr
      td(colspan='4') no documents matched

  script(type='text/template', id='tmpl-results-paging')
    div.well
      div.btn-group.pull-left
        button.btn.btn-default(disabled=true) Page <%= pages.current %> of <%= pages.total %>
        button.btn.btn-default(disabled=true) Rows <%= items.begin %> - <%= items.end %> of <%= items.total %>
      div.btn-group.pull-right
        button.btn.btn-default.btn-page.btn-prev(data-page!='<%= pages.prev %>') Prev
        button.btn.btn-default.btn-page.btn-next(data-page!='<%= pages.next %>')  Next
      div.clearfix

  script(type='text/template', id='data-results') !{data.results}
